@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}
.back {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#background,
#background-front {
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -1;
}

#contents {
	width: 900px;
	margin: 50px auto 0;
	padding: 30px;
	background: rgba(255, 255, 255, 0.6);
}
h1 {
	margin: 30px 0;
}
h2 {
	margin: 20px 0;
}
p {
	margin-bottom: 80px;
}
